data types to review: complex, tuple, frozenset, bytes, bytearray, memoryview

In [3]:
imaginary = 2+4j
type(imaginary)

complex

## tuples

like a list, but can not be altered

In [ ]:
(1,2,4,1,2,3) +=1

SyntaxError: 'tuple' is an illegal expression for augmented assignment (3381043747.py, line 1)

In [62]:
a = (1,2,4,1,2,3)
a[0] = 1

TypeError: 'tuple' object does not support item assignment

## sets

only unique values, ordered

In [67]:
{1,3,2,2,1,2,3,1,1}

{1, 2, 3}

In [ ]:
set((2,4,1,1,2,3))

{1, 2, 3, 4}

In [18]:
set(["c", "b", "a"])

{'a', 'b', 'c'}

sets have a few methods, look them up

In [61]:
a = set((1,2,3))
b = set((2,3,4))
print("issubset ",a.issubset(set((1,2,3,4,5))))
print("issuperset ",a.issuperset(set((1,2))))
print("union ",a.union(b))
print("intersection ",a.intersection(b))
print("difference ",a.difference(b))
print("symmetric_difference ",a.symmetric_difference(b))

issubset  True
issuperset  True
union  {1, 2, 3, 4}
intersection  {2, 3}
difference  {1}
symmetric_difference  {1, 4}

## dictionary

In [21]:
test_dict = {"a": "apple", "b": "banana", "c": "citrus"}
test_dict.get("k")

In [24]:
test_dict = {"a": "apple", "b": "banana", "c": "citrus"}
test_dict.clear()
test_dict

{}

In [34]:
boats = ("apreamare", "laser", "valk")
dict.fromkeys(boats)
dict.fromkeys(boats, 23)

{'apreamare': 23, 'laser': 23, 'valk': 23}

In [41]:
test_dict = {"a": "apple", "b": "banana", "c": "citrus"}
test_dict.pop("c")
test_dict

{'a': 'apple', 'b': 'banana'}

In [44]:
test_dict = {"a": "apple", "b": "banana", "k":"kiwi", "c": "citrus"}
test_dict.popitem() # removes the latest inserted item
test_dict

{'a': 'apple', 'b': 'banana', 'k': 'kiwi'}

In [48]:
test_dict.update({"a": "mouse", "s": "snake"}) # add or update by using another dict
test_dict

{'a': 'mouse', 'b': 'banana', 'k': 'kiwi', 's': 'snake'}

## frozenset

a frozenset is not mutable, unlike a set, which also lets it take up less space in memory

In [65]:
s = frozenset([1,2,3,4,5])
s

frozenset({1, 2, 3, 4, 5})